<template>
   <button @click="createComment({'name':'Javi','text':'Loren ipsum'})">Generar Comentario</button>
</template>

<script lang="ts" setup>
import { useMutation } from '@vue/apollo-composable';
import { gql } from '@apollo/client';

const comment={'name':'Javi','text':'Loren ipsum'}

const {mutate:createComment,}=useMutation(
    gql`mutation ($name: String!, $text: String!) {
        createComment(name: $name, text: $text)
        }`,()=>({
                variables:{
                    name:'GogoDev',
                    text: 'Hi from view again'
                },
                //actualizamos los datos cacheados de forma directa
                update:(cache,{data:{createComment}})=>{
                    //de los valores cacheados leemos la query
                    let data=cache.readQuery({query:getAllComment})
                }
            }),
    
    )

</script>

<style scoped>

</style>