<template>

    <h1>Comments</h1>
    <div v-if="loading">Cargando...</div>
    <div v-else>
      <ul>
        <!--<li v-for="(comment,index) in result.getAllComments" :key="index" ><b>{{ comment.name }}</b>: {{ comment.text }}</li>-->
        <li v-for="(comment,index) in result.getCommentsFromUser" :key="index" ><b>{{ comment.name }}</b>: {{ comment.text }}</li>
      </ul>
    </div>
    <button @click="refetch()">Refrescar</button>
    <div v-if="error">
      <h3 style="error">{{ error.message }}</h3>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useQuery,useLazyQuery } from '@vue/apollo-composable';
import gql from 'graphql-tag';

export default defineComponent({
    setup() {
        /* TODOS LOS COMENTARIOS
        const {result,loading,error}=useQuery(gql`
          query{
            getAllComments {
              name
              text
            }
          }
        `)
        
        return {result,loading,error}
      },
    })
    */
        // COMENTARIO DE UN USUARIO
        const { result, loading, error, refetch, onResult, onError } = useQuery(gql `query ($name: String!) {
                  getCommentsFromUser(name: $name) {
                    name text
                  }
              }`, () => ({ name: 'User 1' }), {
            fetchPolicy: 'cache-first',
            pollInterval: 5000
        });
        onResult((queryResault) => {
            console.log(queryResault.data);
        });
        onError((error) => {
            console.log(error.message);
        });
        return { result, loading, error, refetch };
    }
    
})
</script>

<style scoped>
  .error{
    color:red;
  }
</style>